<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "A8FETR73Y9.    com.phonegap.hideseekbeacon"
        versionCode = "1" 
        version     = "1.0.0" >
	
    <name>Hide and Seek Beacon</name>
    <description>
    Hide and seek with a sonar sort of...
    </description>

    <author href="https://build.phonegap.com" email="j_flottmeyer@voilamediagroup.com">
        John Flottmeyer
    </author>
    
    <gap:platform name="ios" />
   
    <!--<gap:platform name="android" />-->
    
    <!-- third party plugins -->
    <!--<gap:plugin name="cordova-plugin-statusbar" source="npm" />
    <gap:plugin name="de.appplant.cordova.plugin.badge" version="0.6.2" />
	<gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.7.8" />-->
	<plugin name="ptdev.makingwaves2.estimotes" spec="1.0.1" source="pgb" />

    <!-- universal preferences -->
    <preference name="phonegap-version"           value="cli-5.2.0" />         
    <preference name="fullscreen"                 value="true" />
	
	<!-- ios preferences --> 
    <preference name="target-device" value="universal" />
    <!--<preference name="StatusBarOverlaysWebView" value="false" />
    
	<gap:config-file platform="ios" parent="ITSAppUsesNonExemptEncryption" mode="add">
		<false/>
	</gap:config-file>-->
</widget>
